tarefa01/definicoes.dtd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE cardapio [
<!ATTLIST prato id ID #REQUIRED>
<!ELEMENT prato (nome,descricao,ingredientes,preco,calorias,tempoPreparo)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT ingredientes (ingrediente+)>
<!ATTLIST preco moeda (BRL|URL) #FIXED BRL>
<!ENTITY reais "R$">
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempoPreparo (#PCDATA)>
]>